<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Walmart</string>
	<string>The Kroger Co.</string>
	<string>Amazon</string>
	<string>Costco</string>
	<string>The Home Depot</string>
	<string>Walgreens Boots Alliance</string>
	<string>CVS Heath Corporation</string>
	<string>Target</string>
	<string>Lowe&apos;s Companies</string>
	<string>Albertsons Companies</string>
	<string>Royal Ahold Delhaize USA</string>
	<string>Apple Stores/iTunes</string>
	<string>Best Buy</string>
	<string>McDonald&apos;s</string>
	<string>Publix Supermarkets</string>
	<string>TJX Companies</string>
	<string>Aldi</string>
	<string>Macy&apos;s</string>
	<string>Dollar General</string>
	<string> H-E-B Grocery</string>
	<string>Dollar Tree</string>
	<string>Rite Aid</string>
	<string>Kohl&apos;s</string>
	<string>Verizon Wireless</string>
	<string>YUM! Brands</string>
	<string>Meijer</string>
	<string>Ace Hardware</string>
	<string>Starbucks</string>
	<string>Wakefern / ShopRite</string>
	<string>Nordstrom</string>
	<string>Sears Holdings</string>
	<string>7-Eleven</string>
	<string>Ross Stores</string>
	<string>Subway</string>
	<string>AT&amp;T Wireless</string>
	<string>Gap</string>
	<string>BJ&apos;s Wholesale Club</string>
	<string>J.C. Penney Co.</string>
	<string>Bed Bath &amp; Beyond</string>
	<string>Qurate Retail Group (formerly QVC)</string>
	<string>L Brands</string>
	<string>Menard</string>
	<string>Southeastern Grocers</string>
	<string>Health Mart Systems</string>
	<string>Good Neighbor Pharmacy</string>
	<string>Hy-Vee</string>
	<string>AutoZone</string>
	<string>Alimentation Couche-Tard</string>
	<string>Wendy&apos;s</string>
	<string>Chick-fil-A</string>
	<string>Dunkin&apos; Brands Group</string>
	<string>Giant Eagle</string>
	<string>O&apos;Reilly Auto Parts</string>
	<string>Wegmans Food Market</string>
	<string>Burger King Worldwide</string>
	<string>Dick&apos;s Sporting Goods</string>
	<string>Darden Restaurants</string>
	<string>PetSmart</string>
	<string>Sherwin-Williams</string>
	<string>Staples</string>
	<string>Army &amp; Air Force Exchange</string>
	<string>Bass Pro</string>
	<string>Tractor Supply Co.</string>
	<string>WinCo Foods</string>
	<string>Save-A-Lot</string>
	<string>Ascena Retail Group</string>
	<string>Dine Brands Global</string>
	<string>Office Depot</string>
	<string>GameStop</string>
	<string>Dillard&apos;s</string>
	<string>Burlington Coat Factory</string>
	<string>Toys &quot;R&quot; Us</string>
	<string>Ulta Salon, Cosmetics &amp; Fragrance</string>
	<string>Sephora (LVMH)</string>
	<string>Foot Locker</string>
	<string>Ikea North American Svcs.</string>
	<string>Domino&apos;s Pizza</string>
	<string>Academy</string>
	<string>Panera Bread Company</string>
	<string>AVB Brandsource</string>
	<string>Signet Jewelers</string>
	<string>Big Lots</string>
	<string>Williams-Sonoma</string>
	<string>Saks Fifth Avenue / Lord &amp; Taylor</string>
	<string>Defense Commissary Agency	</string>
	<string>Hobby Lobby Stores</string>
	<string>Speedway</string>
	<string>Michaels Stores</string>
	<string>True Value Co.</string>
	<string>Discount Tire</string>
	<string>Sprouts Farmers Market</string>
	<string>Exxon Mobil Corporation</string>
	<string>Neiman Marcus</string>
	<string>Jack in the Box</string>
	<string>Shell Oil Company</string>
	<string>Sonic</string>
	<string>Chipotle Mexican Grill</string>
	<string>SUPERVALU</string>
	<string>Belk</string>
	<string>Petco Animal Supplies</string>
</array>
</plist>
